*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    background: rgb(232, 194, 222);
    width: 100%;
    padding: 10px;
    align-items: center;
    gap: 15px
}

img{
    width: 30px;
    cursor: pointer;
}

main{
    display: flex;
    justify-content: flex-start;
}

aside{
    display: flex;
    width: 50%;
    padding: 10px;
    background: beige;
    flex-direction: column;
}

.j{
    display: flex;
    align-items: center;
    width: 100%;
}


article{
    display: flex;
    background: antiquewhite;
    width: 50%;
    padding: 10px;
}

.barra{
    display: flex;
    list-style: none;
    cursor: pointer;
    flex-direction: column;
}

.barra ul li {
    margin-bottom: 10px;
}

.barra ul li a {
    color: black;
    text-decoration: none;
}

.menus {
    display: none;
    background-color: beige;
    position: absolute;
}

.barra ul li:hover .menus {
    display: block;
}